* {
	box-sizing: border-box;
}
body {
	font-family: $segoe;
	background-color: $offwhite;
	@include background('bridge.png');

	a {
		text-decoration: none;
		font-size: .95rem;
	}
}
.main {
	@include clearfix;

	width: 1280px;
	min-width: 500px;
	border: solid 1px;
	background-color: white;
	margin: 0px auto;

	> div {
		height: 124px;
		border: solid 1px;
	}
}

/*================================
=            Benefits            =
================================*/

.oe_card_container {
	@include centerFloatedGrid;

}

.oe_card {
	@include card_shape($default, $cardwidth);
	@extend %card;

	// Adding category specific logos
	@for $i from 1 through length($logos) {
		&##{nth($logos, $i)} .ben_logo {
			@include background(nth($logos, $i) + ".png", 80%);
		}
	}

	&:hover {
		transform: scale(.95);
		transition: .5s;
	}

	.ben_logo {
		// Adding a default logo
		@include background('sussex.png', 75%);

		height: $cardwidth * 0.3;
		position: relative;
		background-position: 20px center;

		&:after {
			content: "";
			display: block;
			width: 90%;
			border-bottom: solid 1px $grey;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}

		&:hover {
			cursor: pointer;
		}
	}

	.linkpreview {
		
		ul {
			list-style-type: none;
			// line-height: 1.4rem;
			margin: 0;
			margin-top: 7px;
		}
	}

	.seemore {
		@include centerabsolute();

		width: 100%;
		text-align: center;
		background-color: $oe_blue;
		position: absolute;
		bottom: 0px;
		transition: .3s;

		&:before, &:after {
			content: "";
			position: absolute;
			width: 0;
			background-color: $oe_blue;
			padding: 2px 0;
			left: 50%;
			bottom: -4px;
			transition: .3s;
		}

		a {
			font-size: 1rem;
			font-weight: bold;
			color: $oe_blue;
			display: block;
			padding: 1px 2rem;
			transition: .3s;
		}

		&:hover {
			// background-color: $oe_lightblue;
			bottom: 3px;
			transition: .3s;

			a {
				color: white;
				// text-shadow: 0 0 0px white;
				// @include textglow(white, false);
				transition: .5s;
			}

			&:before, &:after {
				width: 51%;
			}

			&:before {
				left: 0;
			}
		}
	}
}

/*=====  End of Benefits  ======*/
