* {
	box-sizing: border-box;
}
body {
	background-color: $offwhite;
	@include background('bridge.png');
}
.main {
<<<<<<< HEAD
	width: 100%;
	max-width: 1280px;
=======
	width: 50%;
	min-width: 500px;
>>>>>>> b070f70d57e23d7e88adba940da5c93da60c2eb9
	border: solid 1px;
	background-color: white;
	margin: 0px auto;

	> div {
		height: 124px;
		border: solid 1px;
	}
}
<<<<<<< HEAD


/*================================
=            Benefits            =
================================*/

.oe_card_container {
	@include clearfix;

	background-color: $oe_green;
	display: inline-block;
}

.oe_card {
	@include card_shape($default, 250px);
	@extend %card
}

/*=====  End of Benefits  ======*/
=======
>>>>>>> b070f70d57e23d7e88adba940da5c93da60c2eb9
