// Creates square item with choice of corner radius.
@mixin square($size, $radius: 0) {
	width: $size;
	height: $size;
	border-radius: $radius;
}

// Fixes container of floated items
@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}


@mixin centerFloatedGrid() {
	float: right;
	position: relative;
	left: -50%;

	& > * {
		position: relative;
		left: 50%;
	}
}

// Apply a background to the selected element. 
@mixin background($image, $size: cover) {
	background-image: url('/SiteAssets/Images/benefitPageImages/' + $image);
	background-size: $size;
	background-repeat: no-repeat;
}

// defined card shape with rounded corners.
@mixin card_shape($height, $width: 100px) {
	width: $width;
	height: $height or ($cardheight);
	border-radius: 6px;
}

// Center an element horizontally, vertically, or both.
@mixin centerabsolute($centerxy: false) {
	@if $centerxy {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else {
		left: 50%;
		transform: translateX(-50%);
	}	
}

// Add a glow behind an element with the chosen color. 
@mixin glow($color: $oe_blue) {
	box-shadow: 0 0 0 $color, 0 0 5px $color, 0 0 10px $color;
}

// Add glow to text with the chosen color. 
@mixin textglow($color: $oe_blue, $spread: false) {
	@if $spread {
		text-shadow: 0 0 0 $color, 0 0 15px $color, 0 0 30px $color;
	} @else {
		text-shadow: 0 0 0 $color, 0 0 2px $color, 0 0 4px $color;
	}
	
}

// Generate a pseudo triangle.
@mixin pseudoTriangle($direction: "left", $size: 10px, $color: $oe_orange) {
	&:before {
		content: "";
		position: absolute;
		border: solid $size transparent;

		@if $direction == "left" {
			border-left: solid $size $color;
			right: $size * -2;
			top: 50%;
			transform: translateY(-50%);

		} @elseif $direction == "right" {

		} @elseif $direction == "top" {

		} @elseif $direction == "bottom" {

		}
	}
}

// Generate a custom tooltip.
@mixin tooltip($direction: "left", $bgcolor: $oe_orange, $textcolor: black) {
	// border: solid 1px;
	position: absolute;
	color: $textcolor;
	text-align: center;
	padding:0 10px;
	background-color: $bgcolor;

	@if $direction == "left" {
		@include pseudoTriangle("left", 12px, $bgcolor);
		left: -72%;
		top: 50%;
		transform: translateY(-50%);

	} @elseif $direction == "right" {
		right: -65%;
		top: 50%;
		transform: translateY(-50%);

	} @elseif $direction == "top" {
		width: 170px;
		width: max-content;
		top: -20%;
		left: 50%;
		transform: translateX(-50%);

	} @elseif $direction == "bottom" {
		width: 170px;
		width: max-content;
		bottom: -20%;
		left: 50%;
		transform: translateX(-50%);
	}
}