@mixin square($size, $radius: 0) {
	width: $size;
	height: $size;
	border-radius: $radius;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin centerFloatedGrid() {
	float: right;
	position: relative;
	left: -50%;

	& > * {
		position: relative;
		left: 50%;
	}
}

// Apply a background to the selected element. 
@mixin background($image, $size: cover) {
	background-image: url('/images/' + $image);
	background-size: $size;
	background-repeat: no-repeat;
}

// defined card shape with rounded corners.
@mixin card_shape($height, $width: 100px) {
	width: $width;
	height: $height or ($cardheight);
	border-radius: 6px;
}

@mixin centerabsolute($centerxy: false) {
	@if $centerxy {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else {
		left: 50%;
		transform: translateX(-50%);
	}	
}

@mixin glow($color: $oe_blue) {
	box-shadow: 0 0 0 $color, 0 0 5px $color, 0 0 10px $color;
}

@mixin textglow($color: $oe_blue, $spread: false) {
	@if $spread {
		text-shadow: 0 0 0 $color, 0 0 15px $color, 0 0 30px $color;
	} @else {
		text-shadow: 0 0 0 $color, 0 0 2px $color, 0 0 4px $color;
	}
	
}