html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Benefits
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/script.js", defer)
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', defer)


<!--======================-->
<!--=     variables      =-->
<!--======================-->

- var links = ["Home Site", "Info Page", "FAQ"];
- var categories = ["highmark", "eap", "hartford", "ssa", "flex", "vspdelta", "cobra", "comp", "general"];

<!--====  End of variables  ====-->

body
  .main
    section.oe_card_container
      - for (var i = 0; i < 9; i++)
        .oe_card(id= categories[i])
          .ben_logo
          .linkpreview
            ul
              for link in links
                li
                  a(href="#")= link
          .seemore
            a(href="#") #[span More]