html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Benefits
    link(rel="stylesheet", href="/css/style.css")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', defer)
    script(src="/js/script.js", defer)


- <!--======================-->
- <!--=     variables      =-->
- <!--======================-->

- var links = ["Home Site", "Info Page", "FAQ"];
- var categories = {highmark: "Highmark", eap: "EAP", hartford: "Hartford", ssa: "SSA", flex: "Flex", vspdelta: "VSP/Delta", cobra: "COBRA/HIPAA", comp: "Worker's Compensation", general: "General"};
- var morelinks = ["Annual Women's Health and Cancer Rights Act Notification", "Baby Blueprints Flyer", "Gold Medical Summary Plan Description Gym Membership Discounts", "Healthwire Highmark BCBS Customer Claim Form", "Highmark BCBS Presentation", "In-Network Pharmacy Vaccination Providers", "Medical Aid Units", "Men's Health Prevention", "My Care Navigator", "Member Discounts", "Participant Instructions", "Physician's Letter", "PPO Gold Summary of Benefits"];

- <!--====  End of variables  ====-->
  
body
  .main
    section.oe_card_container
      - each val, key in categories
        .no-transition.oe_card(id=key, name=val)
          .ben_logo.no-transition
          .linkpreview
            ul
              for link in links
                li
                  a(href="#")= link
          .seemore.no-transition
            a(href="#") #[span More]

    .more_modal.hide.no-transition
      h1.more_header Highmark
      .more_links
        ul
          for link in morelinks
            li
              a(href="#")= link
      .more_logo.hvr-float-shadow
        .cust_tooltip.inactive Click here for website
  .dimmer
