head
  meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
  title Sandbox
  link(rel="stylesheet", href="/css/style.css")
  script(src="/js/script.js", defer)

body
  .main
    #hr_topbar
      a(href="/benefits.html") Benefits
    #hr_banner
    #emp-resrc
    #hr_benefits
    #hr_boxlinks
    #hr_brideas
    #hr_employees