head
  meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
  title Sandbox
  meta(name='description' content='')
  meta(name='author' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="/css/style.css")
  link(rel='icon' type='image/png' href='images/favicon.png')

body
  .main
    .container

      include includes/topbar.jade

      .row
        .one-half.column(style='margin-top: 25%')#homeblock
          h4 Basic Page
          p
            | This index.html page is a placeholder with the CSS, font and favicon. It&apos;s just waiting for you to add some content! If you need some help hit up the 
            a(href='http://www.getskeleton.com', target="blank_") Skeleton documentation
        
        

    //
      End Document
      ––––––––––––––––––––––––––––––––––––––––––––––––––
  script(src="/js/script.js", defer)
