html
head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title Document
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', defer)
  include includes/head.jade
body
  include includes/topbar.jade
  .main
    h1.above hello
    h2.below What up?